<h3>Estatus del chef <%=@chef.name%>:</h3>
<%= button_to 'Aceptar', accepted_path(:is_branchef => "1"), method: :post %>
<%= button_to 'Rechazar', accepted_path(:is_branchef => "0"), method: :post %>
