<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chef_profile.name %>
</p>

<%= link_to 'Edit', edit_chef_profile_path(@chef_profile) %> |
<%= link_to 'Back', chef_profiles_path %>
